@font-face {
    font-family: 'Neue Grotesk';
    font-weight: 100;
    src: url('~@/assets/fonts/NeueHaasDisplay-Roman.woff') format('woff');
    src: url('~@/assets/fonts/NeueHaasDisplay-Roman.woff2') format('woff2');
}
@font-face {
    font-family: 'Neue Grotesk';
    font-weight: 600;
    src: url('~@/assets/fonts/NeueHaasDisplay-Bold.woff') format('woff');
    src: url('~@/assets/fonts/NeueHaasDisplay-Bold.woff2') format('woff2');
}