// Screen sizes
$screen-sm: 38rem;
$screen-md: 44rem;
$screen-lg: 55rem;
$screen-xl: 80rem;

// Fonts
$font-sans-serif: 'Neue Haas Grotesk Display Pro', 'Helvetica Neue', sans-serif;
$font-serif: 'Margo', serif;

//Layout
$grid-space: .5em;