@import './media';

// Screen sizes
$screen-xs: 320px;
$screen-sm: 400px;
$screen-md: 980px;
$screen-lg: 1300px;
$screen-xl: 1920px;

$border-radius: 4px;



// Fonts
$font-body: 'Neue Grotesk', Avenir, Helvetica, Arial, sans-serif;
$font-heading: 'Dr Web', serif;

//Layout
$grid-space: .5em;